<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="header">

        <!-- Metadatos -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Titulo y favicon -->
        <title>Try&Catch | Encuentra las respuestas a tus preguntas</title>
        <link rel="icon" th:href="@{/img/t&c.ico}" href="/img/t&c.ico" type="image/x-icon">
        
        <!-- Highlight.js  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/dark.min.css">
        <!-- CSS -->
        <!-- <link rel="stylesheet" th:href="@{/css/bootstrap-5.1.3.css}" href="css/bootstrap-5.1.3.css" type="text/css" /> -->
        <link rel="stylesheet" th:href="@{/css/bootstrap-5.3.0-alpha3.min.css}"
            href="css/bootstrap-5.3.0-alpha3.min.css" type="text/css" />
        <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
        <link th:if="${session.u}" rel="stylesheet" th:href="@{/css/notificaciones.css}" href="css/notificaciones.css"
            type="text/css" />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Share+Tech+Mono&display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Source+Serif+Pro:wght@600&display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <!-- Javascript -->
        <script type="text/javascript">
            const config = {
                socketUrl: "[[${session.ws}?:'']]", // empty is false, will result in no WS being opened
                rootUrl: "[[${session.url}?:'']]",
                csrf: {
                    name: "[[${_csrf.parameterName}]]",
                    value: "[[${_csrf.token}]]"
                },
                admin: "[[${session.u != null && session.u.hasRole('ADMIN')} ? true : false]]",
                userId: +"[[${session.u != null} ? ${session.u.id} : -1]]", 
            };
            config.admin = config.admin == "true"; // ensure boolean
        </script>
        <!-- <script th:src="@{/js/bootstrap.bundle-5.1.3.js}"></script> -->
        <script type="text/javascript" th:src="@{/js/bootstrap.bundle-5.3.0.js}"></script>

        <!-- Websockets -->
        <script th:src="@{/js/stomp.js}" src="js/stomp.js"></script>
        <script th:src="@{/js/iw.js}" src="js/iw.js"></script>

        <!-- Otros scripts de interacción, aquí -->
        <script type="text/javascript" th:if="${session.u}" th:src="@{/js/notificaciones.js}" src="/js/notificaciones.js"></script>
        <script type="text/javascript" th:if="${session.u}" th:src="@{/js/iwadmin.js}" src="/js/iwadmin.js"></script>        
    </th:block>
</head>

<body>
    Head fragment - rest intentionally left empty.
</body>

</html>